apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: directus
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/mpletti/directus.git   # ← seu repo aqui
    targetRevision: main
    path: directus  # pasta com o values.yaml
    chart: directus  # ← nome do chart remoto
    helm:
      releaseName: directus
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: directus

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
