apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: directus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/directus-labs/helm-chart.git  # Repo Git oficial
    targetRevision: master
    path: charts/directus
    helm:
      releaseName: directus
  destination:
    server: https://kubernetes.default.svc
    namespace: directus

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

